<div class="well">
	<p><h1>Fax History</h1></p>
	<div id="history">
		<table class="table">
			<thead>
				<tr>
					<th>To</th>
					<th>Time</th>
					<th>Result</th>
					<th>Duration in Seconds</th>
				</tr>
			</thead>
			<tbody>
				<div id="loading">
					<p>Please wait while we fetch your records...</p>
					<img src="img/ajax-loader.gif" />
				</div>
			</tbody>
		</table>
	</div>
</div>