<div class="jumbotron">
	<h1>SafeCellular Fax Console</h1>
	<p>Welcome to the SafeCellular Fax Console. Click the button to compose a fax.</p>
	<p><a id="composeBtn" class="btn btn-primary btn-lg" href="#" role="button">Compose</a></p>
</div>